@{
    ViewData["Title"] = "Search";
}
<h2>@ViewData["Title"]</h2>
<h3>Searching for the following string: @ViewData["Message"]</h3>

<table class="table">
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                Location
            </td>
            <td>
                Rate
            </td>
        </tr>

        @foreach (var track in (IEnumerable<Track>)@ViewData["Result"])
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => track.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => track.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(model => track.Rate)
                    </td>
                </tr>
            }
        </thead>
</table>
