@{
    ViewData["Title"] = "Search";
}

<div class="row ">
    <div class="col-lg-12 text-center">
        <br><br><br>
        <hr>
        <h1 class="tagline">@ViewData["Title"]</h1>
        <p>Searching for the following: @ViewData["Message"]</p>
        <hr>
        <br>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                Location
            </td>
            <td>
                Rate
            </td>
            <td>
                Image
            </td>
        </tr>

        @foreach (var track in (IEnumerable<Track>)@ViewData["Result"])
        {
        <tr>
            <td>
                @Html.DisplayFor(model => track.Name)
            </td>
            <td>
                @Html.DisplayFor(model => track.Location)
            </td>
            <td>
                @Html.DisplayFor(model => track.Rate)
            </td>
            <td>
                <img src="@Html.DisplayFor(model => track.Image)" alt="IMAGES" />
            </td>
        </tr>
        }
    </thead>
</table>
