@model college_assignment_mvc_project.Models.Track

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Track</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Long)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Long)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Includes_Water)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Includes_Water)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Circular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Circular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrackLenght)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrackLenght)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Guide)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Guide.GuideID)
        </dd>
    </dl>
</div>

<div id="myMap" style="position:relative;width:100%;height:500px;"></div>

@section scripts {
    <script type='text/javascript'
            src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap'
            async defer></script>
    <script type='text/javascript'>
        function GetMap() {
            renderRequestsMap("myMap", {
                lat: 31.771959,
                long: 35.217018,
            });
        };
    </script>
}

<br />

<div>
    <a asp-action="Edit" asp-route-id="@Model.TrackID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
