@model college_assignment_mvc_project.Models.Track

@{
    ViewData["Title"] = "Details";
    @using Microsoft.AspNetCore.Http;
    var userConnected = Context.Session.GetString("IsUserLoggedIn");
}

<div class="row ">
    <div class="col-lg-12 text-center">
        <br><br><br>
        <hr>
        <h1>@Html.DisplayFor(model => model.Name)</h1>
        <img class="track-image" src="@Html.DisplayFor(model => model.Image)" alt="IMAGES" />
        <hr>
        <br>
    </div>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Long)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Long)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Includes_Water)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Includes_Water)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Circular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Circular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrackLenght)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrackLenght)
        </dd>

        <dt>
            Guide Name
        </dt>
        <dd>
            @ViewData["GuideName"]
        </dd>
        <dt>
            Guide Rate
        </dt>
        <dd>
            @ViewData["GuideRate"]
        </dd>
    </dl>
</div>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

@if (userConnected == "UserConnected")
{
    <input type="button" value="Order" class="btn btn-success btn-lg btn-block" onclick="location.href='@Url.Action("Create", "Orders")'" />
}

<br />

<div id="myMap" style="position:relative;width:100%;height:500px;"></div>

@section scripts {
    <script type='text/javascript'
            src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap'
            async defer></script>
    <script type='text/javascript'>
        function GetMap() {
            renderRequestsMap("myMap", {
                lat: "@Model.Lat",
                long: "@Model.Long",
            });
        };
    </script>
}

<br />
@if (userConnected == "UserConnected")
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.TrackID">Edit</a>
    </div>
}
